.cd-nugget-info{
text-align:center;
position:absolute;
width:100%;
height:50px;
line-height:50px;
top:0;
left:0
}
.cd-nugget-info a{position:relative;font-size:18px;color:#718ca1;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.cd-nugget-info a:hover{opacity:.8}
.cd-nugget-info span{vertical-align:middle;display:inline-block}
.cd-nugget-info span svg{display:block}
.cd-nugget-info 
/*.cd-nugget-info-arrow{fill:#718ca1}*/
